@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #1F1F25;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.small-container {
    max-width: 1060px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__wrapper {
    min-height: 76px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.logo__image {
    height: 50px;
}

.logo__image img {
    height: 100%;
}

.logo__text {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
}

.hero {
    height: 448px;
    display: flex;
    align-items: center;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__body {
    flex: 0 0 611px;
}

.title {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
}

.hero__title {
    margin-bottom: 20px;
}

.hero__text {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.hero__image {
    height: 250px;
}

.hero__image {
    height: 100%;
}

.formatter__title {
    text-align: center;
    margin-bottom: 25px;
}

.form {
    display: flex;
    align-items: stretch;
    column-gap: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #C3C3C9;
}

.form-area {
    padding: 20px;
    background: #313238;
    border-radius: 20px;
}

.settings {
    width: 380px;
}

.replacement {
    margin-bottom: 10px;
}

.form__title {
    font-weight: 500;
    margin-bottom: 16px;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-bottom: 16px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-input {
    flex: 0 1 262px;
    padding: 1px 9px;
    background: #3F3F45;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 21px;
    color: #C3C3C9;
}

.checkboxes {
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    padding: 3px 16px;
    font-size: 16px;
    color: #fff;
    background: #4C33FF;
    border-radius: 5px;
}

.replacement__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.checkbox-input {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #424248;
    border-radius: 4px;
    position: relative;
    transition: .1s;
}

.checkbox-group {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.checkbox-input:hover {
    background: #57575f;
}

.checkbox-group label {
    user-select: none;
}

.checkbox-input:checked::before {
    content: '✔';
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 10px;
    color: #C3C3C9;
}

.tools {
    overflow: auto;
    height: 250px;
}

.tools::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-right: 20px;
    width: 5px;
}

.tools::-webkit-scrollbar-thumb {
    background: white;
    width: 5px;
}

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.accordion-item {
    padding: 10px 18px;
    background: #424248;
    border-radius: 5px;
}

.accordion-item:hover {
    background: #4a4a51;
}

.accordion-item__title {
    position: relative;
    user-select: none;
}

.accordion-item__title::after {
    content: '+';
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.accordion-item__body {
    visibility: hidden;
    height: 0px;
}

.accordion-item.active .accordion-item__title::after {
    content: '-';
    font-size: 30px;
}

.accordion-item.active .accordion-item__body {
    visibility: visible;
    height: auto;
    margin-top: 10px;
}

.badges {
    display: flex;
    gap: 5px 8px;
    flex-wrap: wrap;
}

.badge {
    padding: 2px 18px;
    border-radius: 10px;
    background: #4C33FF;
    color: #fff;
    cursor: pointer;
}

.badge:hover {
    background: #604cfd;
}

.text-box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.text-box__form-area {
    flex: 1 1 auto;
    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: #C3C3C9;
    resize: none;
}

.text-box__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box__properties {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.property {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.badge_no-cursor {
    cursor: default;
}

.badge_no-cursor:hover {
    background: #4C33FF;
}

.footer__container {
    position: relative;
    min-height: 76px;
    border-top: 1px solid #fff;
}

.footer__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 23px;
}